<div class="trash">
	<tr><%= link_to "Delete", user_todo_list_todo_item_path(current_user, todo_item[:todo_list_id], todo_item.id), method: :delete, remote: true, class: "delete" %></tr>
	<%= link_to "Edit", edit_user_todo_list_todo_item_path(current_user, todo_item[:todo_list_id], todo_item.id), remote: true %>
	<%= link_to "Up", move_up_user_todo_list_todo_item_path(current_user, todo_item[:todo_list_id], todo_item.id), method: :put, remote: true %>
	<%= link_to "Down", move_down_user_todo_list_todo_item_path(current_user, todo_item[:todo_list_id], todo_item.id), method: :put, remote: true %>
</div>