<b>Edit TODOS</b>

<%=  form_with model: ([@todo_list, @todo_item]) do |f| %>
	<%= f.text_field :content, placeholder: "Edit Todoss" %>
	<%= f.submit %>
<% end %>

<div class="links">
	<%= link_to 'Back', user_todo_list_path(current_user, @todo_list) %>
</div>