/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 */
@import "bootstrap";

 $white_opaque: rgba(230, 230, 230, .7);
 $gray_opaque: rgba(210, 210, 210, .3);
 $dark: #555555	;
 $light_gray: rgba(170,170,170,.6);
 $blue: -webkit-gradient(linear, left top, left bottom, from(#81a8cb), to(#4477a1) );
 $gray: -webkit-gradient(linear, left top, left bottom, from(#DCDCDC), to(#A9A9A9) );
 $green: -webkit-gradient(linear, left top, left bottom, from(#81cb85), to(#4da043) );
 $green_rev: -webkit-gradient(linear, left top, left bottom, from(#4da043), to(#81cb85) );
* {
	box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  background: -webkit-image-url('4.jpg');
  background:    -moz-image-url('4.jpg');
  background:     -ms-image-url('4.jpg');
  background:      -o-image-url('4.jpg');
  background:         image-url('4.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  font-family: 'Lato', sans-serif;
}

#outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
} 

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#notice {
	text-align: center;
	font-size: 0.6em;
	color: $dark;
	font-weight: 100;
}

.actions {
text-align: center;
}

#blocks {
	display: table-cell;
  vertical-align: middle;
h1 {
	display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; 
  margin: 40px 0 0 0;
  text-transform: uppercase;
  font-weight: 550;
  font-size: 2.4em;
  text-shadow:0 1px 1px rgba(255, 255, 255, 0.5), 0 -1px 1px rgba(55, 55, 55, 0.5);
}
}

.container {
	width: 70%;
	max-width: 750px;
	background: white;
	margin: 3em auto 0 auto;
	border-radius: 0 0 12px 12px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 5px 5px rgba(0,0,0,.04);
	padding: 0;
	overflow: hidden;
}

.footer {
height:50px;
} 

.btn {
 margin: 5px 5px 5px 5px 
} 

.field {
	padding: 1em 0;
}

.links_device {
	margin: 5px 5px 5px 5px ;
	color: $dark;
}

.new_list {
	padding: 3em 0;
	text-align: center;
	text {
		font-weight: bold;
		text-shadow:0 2px 1px rgba(255, 255, 255, 0.5), 0 -2px 1px rgba(55, 55, 55, 0.5);
		}
}

.btn {
	background: $blue;
	border: 1px solid #4477a1;
}

.clearfix {
	.row {
    background: $blue;
    border: 1px solid #4477a1;
		align-items: center;
		padding: 0.8% 0;
		text-align: center;
		margin: auto;
		width: 100%;
		
		.icon {
		width: 6%;
			i {
				color: white;
				transition: all .4s ease-in-out;
				color: #3d6b90;
				text-shadow:0 1px 1px rgba(255, 255, 255, 0.5);
				&:hover {
				color: $dark;
				}
			}
		}

		.todo_list_title {
			width: 79%;
			text-align: left;
			font-weight: 500;
			font-size: 1.3rem;
			color: white;
			margin: 0;
			padding-left: 10px;
			word-wrap: break-word;
			text-shadow:0 1px 1px rgba(55, 55, 55, 0.5);
			p {
				margin-bottom: 0px;
			}	
		}

		.top_links {
			display: none;
			width: 15%;
			text-align: center;
		}
		i {
			color: $white_opaque;
		}
	}
}

.todo_list_sub_title {
	margin: 0 0 3em 0;
	text-align: center;
	text-transform: none;
	font-size: 0.35em;
	color: $dark;
	font-weight: 100;
}
// padding: 3;
.index_row {
	//padding-bottom: 2em;
	border-bottom: 0px solid rgba(250,250,250, .3);
	.todo_list_sub_title {
		margin-bottom: 0;
	}
	margin-bottom: 0;
}

div[id^='list_']:hover .top_links {
	display: block;
}

div[id^='item_']:hover .clearfix {
	background-color: rgba(255, 255, 0, .2);
}

div[id^='item_']:hover .trash {
	display: block;
}

.todo_items_wrapper div[id^='item_'] + div[id^='item_'] {
		border-top: 1px solid $light_gray;
}

#item_ {
	display: none;
}

#todo_item_content {
	border: 1px solid $light_gray;	
}

#todo_item_deadline {
	border: 1px solid $light_gray;
	margin: 0 15px 0 0;
}

#todo_list_title {
	border: 1px solid $light_gray;
	margin: 0;
}

.fa-plus {
	color: rgba(0,0,0,0);
	text-shadow: .0em .06em .04em rgba(255,255,255,.25), 0 0 0 #305573, 0 1px 1px rgba(255, 255, 255, 0.5);
	margin-right: 6px;
	align-items: center;
}

a {
	.fa-chevron-up {
		transform: scale(1,0.5);
	}
	.fa-chevron-down {
		transform: scale(1,0.5);
	}
}

.trash div[class="fa-chevron-up"] + div[class="fa-chevron-down"]{
	border-top: 1px solid $light_gray;
	border-left: 1px solid $light_gray;
	border-right: 1px solid $light_gray;
}

.top_links > a + a {
	    margin-left: 2px;
	    padding-left: 7px;
	    border-left: 3px solid $white_opaque;
	}

.todo_items_wrapper {
	.row {
		//background: white;
		padding: 0 0;
		width: 100%;
		background: white;
		border: none;

		.complete {
			width: 6%;
			float: left;
			align-items: left;
			//border-right: 1em;
			padding: 0;
		}
		.todo_item {
			width: 76%;
			text-align: left;
			float: left;
			border-left: 1px solid #ffaa9f;
			border-right: 1px solid $light_gray;
			word-wrap: break-word;
			p {
				border-left: 1px solid $light_gray;
				margin-left: 6px;
				margin-bottom: 0;
				padding: 1em;
				color: $dark;
				font-weight: 100;
			}
		}
			.trash {
			display: none;
			width: 18%;
			float: left;
			text-align: center;
			padding: 1em 0;
			i {
			color: $dark;
			}
		}
	}

	.trash > a + a {
	    margin-left: 2px;
	    padding-left: 5px;
	    border-left: 1px solid #bbb;
	}

	.form {
		margin-top: 0;
		margin-bottom: 0;
		background: $gray;
		border: 1px solid #A9A9A9;
		padding: 0 5px 0 0;
		i {
			width: 5%;
			text-align: center;
			margin-right: 0;
			transform: scale(1.2);
			color: rgba(0,0,0,0);
			text-shadow: .0em .09em .03em rgba(255,255,255,.25), 0 0 0 #4da043, 0 1px 1px rgba(255, 255, 255, 0.5);
			vertical-align: middle;
		}

		input[type="text"] {
			box-shadow:inset 0 2px 2px 0px rgba(66,66,66,0.5);
			width: 77%;
			margin: 0.6em 0;
			margin-right: 0;
			display: inline-block;
			outline: none;
			background: white;
			border-radius: 0	;
			//border: 1px solid red;
			height: 30px;
			padding: 0em 1em;

		}
		input[type="submit"] {
			background: $green;
			border: 1px solid #4da043;
			outline: none;
			margin:0 0 0 -5px;
			color: white;
			height: 30px;
			border-radius: 0 4px 4px 0;
			width: 17%;
			display: inline-block;
			transition: all .4s ease-in-out;
			cursor: pointer;
			text-shadow:  0px 2px 4px rgba(0,0,0,0.7)
			//border: 1px solid red;
		}
		::-webkit-input-placeholder { color: $dark; }
	}
}

.links {
	display: block;
	margin: 1em;
	padding-top: 1em;
	text-align: center;
	font-size: 0.8em;
	color: white;
	a {
		color: white;
	}
}

.forms {
	padding: 0 5%;
}
label {
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	color: $dark;
}
input[type="text"], textarea {
	width: 100%;
	margin: .5em 2% 1em 0;
	display: inline-block;
	outline: none;
	background: rgba(250,250,250,.4);
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 1em 2em;
}
textarea {
	height: 200px;
}
input[type="submit"] {
	margin: 0 0 25px 0;
	background: $green;
	border: 1px solid #4da043;
	text-shadow:  0px 2px 4px rgba(0,0,0,0.7);
	outline: none;
	height: 40px;
	border-radius: 4px;
	width: 25%;
	display: inline-block;
	transition: all .4s ease-in-out;
	cursor: pointer;
	color: white;
	&:hover {
		background: $green_rev;
	}
}

::-webkit-input-placeholder { color: $dark; }
